
* {
margin:0;
padding:0;
}

/* General Style Info */
body {
	background-color: #cccccc;
	color: #333;
	font-family:'lucida grande',verdana,helvetica,arial,sans-serif;
	font-size:72%;
	margin: 0;
	background-image:url(../img/header_bgr.png);
	background-repeat:repeat-x;
}
a {
	background-color: inherit;
	color: #003d4c;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	background-color: inherit;
	color: #003d4c;
	text-decoration:none;
}
a img {
	border:none;
}
h1, h2, h3, h4 {
	background-color: inherit;
	font-weight: normal;
}
h1 {
	color: #003d4c;
	font-size: 100%;
	margin: 0.1em 0;
}
h2 {
	color: #e32;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 190%;
	margin: 0.3em 0;
	padding-top: 0.8em;
}
h3 {
	color: #993;
	font-family:'Gill Sans','lucida grande',helvetica, arial, sans-serif;
	font-size: 150%;
	padding-top: 1em;
	padding-bottom: 1em;
}
h4 {
	color: #993;
	font-weight: normal;
	padding-top: 0.5em;
}
ul, li {
	margin: 0 12px;
}

p{ line-height:1.4em}
/* Layout */
#container {
	text-align: left;
	width:970px;
	margin:0 auto;
}


#header{
	padding: 20px;
	width:400px;
	float:left
}
#header h1 {
	background: url('../img/ruby.gif') no-repeat left center;
	color: #6da9a2;
	padding: 0px 30px;
	font-size:14px;
	font-weight:bold;
	width:300px
}
#header h1 a {
	color: #6da9a2;
	background: #fff;
	font-weight: normal;
	text-decoration: none;
}
#header h1 a:hover {
	color: #578781;
	background: #fff;
	text-decoration: underline;
}

#main_content_admin{
clear:both;
float:left;
background-image:url(../img/background-white.png);
background-repeat:no-repeat;
width:970px;
background-color:#FFFFFF
}

#sidebar{
float:left;
width:160px;
margin:20px 0 0 20px;
}
#content{
	background-color: #fff;
	float:left;
	color: #333;
	font-size:90%;
	padding: 10px 20px 40px 20px;
	overflow: auto;
	border-left:1px dotted #CCC;
	width:735px;
	margin-top:10px;
}
#footer {
	clear: both;
	padding: 6px 10px;
	text-align: right;
}

/* Tables */
table {
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	clear: both;
	color: #333;
	margin: 5px 0px;
	width: 710px;
}
th {
	background-color: #f2f2f2;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: center;
}
th a {
	display: block;
	padding: 2px 4px;
	text-decoration: none;
}
th a:hover {
	background-color: #ccc;
	color: #333;
	text-decoration: none;
}

table tr td {
	
	border-right: 1px solid #ccc;
	padding: 4px;
	text-align: center;
	vertical-align: top;
}

table tr.altrow {
	background-color: #e0efef;
}

td.actions {
	text-align: center;
	white-space: nowrap;
}
td.actions a {
	display: inline;
	margin: 0px 6px;
}

.cake-sql-log table {
	background: #f4f4f4;
}
.cake-sql-log td {
	padding: 4px 8px;
	text-align: left;
}

/* Paging */
div.paging {
	color: #ccc;
	margin-bottom: 2em;
}
div.paging div.disabled {
	color: #ddd;
	display: inline;
}
div.paging span {
}
div.paging span.current {
	color: #000;
}
div.paging span a {
}

/* Scaffold View */
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl.altrow, dt.altrow, dd.altrow {
	background: #e0efef;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 18em;
	margin-top: -2em;
	vertical-align: top;
}

/* Forms */
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 700px;
	
}
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 16px 20px;
	clear: both;
	
}
fieldset legend {
	color: #e32;
	font-size: 120%;
	font-weight: bold;
	
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 0;
}
fieldset fieldset legend {
	font-size: 100%;
	font-weight: normal;
	margin-left: 20px;
}
fieldset fieldset div {
	clear: left;
	
}
form div {
	float:left;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}

form div.checkbox{width:100%}

form div.input {
	color: #444;
	width:300px;
}
form div.required {
	color: #333;
	font-weight: bold;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
	margin-left: 20px;
}
label {
	display: block;
	font-size: 110%;
	padding-right: 20px;
	width:200px;
}
input, textarea {
	clear: both;
	display: block;
	font-size: 110%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	width:280px
	
}
select {
	clear: both;
	font-size: 110%;
	vertical-align: text-bottom;
	width:100%;
	
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 110%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: both;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	padding: 2px 5px;
	vertical-align: bottom;
	width:150px
}

.checkboxContainer{
width:400px; 
height:300px; 
margin:10px; 
border:1px solid #CCCCCC; 
overflow:scroll
}

/* Notices and Errors */

div.paginator {
margin:10px 0;
}

div.message {
	clear: both;
	color: #900;
	font-size: 140%;
	font-weight: bold;
	margin: 1em 0;
}
div.error-message {
	clear: both;
	color: #900;
	font-weight: bold;
}
p.error {
	background-color: #e32;
	color: #fff;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
p.error em {
	color: #000;
	font-weight: normal;
	line-height: 140%;
}
.notice {
	background-color: #ffcc00;
	color: #000;
	display: block;
	font-family: Courier, monospace;
	font-size: 120%;
	line-height: 140%;
	padding: 0.8em;
	margin: 1em 0;
}
.success {
	background-color: green;
	color: #FFF;
}

/*  Actions  */
div.actions ul {
	margin: 0;
	padding: 0;
	border:1px solid #CCCCCC;
	background-color:#FFFFCC;
}
div.actions li {
	display: inline;
	list-style-type: none;
	line-height: 3em;
	margin: 2em 1em 2em 1em;
	white-space: nowrap;
}

div.actions ul li.add{background:url("../img/action_links/add.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }
div.actions ul li.edit{background:url("../img/action_links/b_edit.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }
div.actions ul li.delete{background:url("../img/action_links/delete.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }
div.actions ul li.list{background:url("../img/action_links/view_list.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }
div.actions ul li.search{background:url("../img/action_links/search.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }
div.actions ul li.add_image{background:url("../img/action_links/add_image.png"); background-repeat:no-repeat; padding:3px 0 5px  20px }


div.actions ul li a {
	color: #003d4c;
	text-decoration: none;
}
div.actions ul li a:hover {
	color: #333;
	text-decoration: underline;
}

/* Related */
div.related {
	clear: both;
	display: block;
}

/* Debugging */
pre {
	color: #000;
	background: #f0f0f0;
	padding: 1em;
}
pre.cake-debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}
div.cake-stack-trace {
	background: #fff;
	border: 4px dotted #ffcc00;
	color: #333;
	margin: 0px;
	padding: 6px;
	font-size: 120%;
	line-height: 140%;
	overflow: auto;
	position: relative;
}
div.cake-code-dump pre {
	position: relative;
	overflow: auto;
}
div.cake-stack-trace pre, div.cake-code-dump pre {
	color: #000000;
	background-color: #F0F0F0;
	margin: 0px;
	padding: 1em;
	overflow: auto;
}
div.cake-code-dump pre, div.cake-code-dump pre code {
	clear: both;
	font-size: 12px;
	line-height: 15px;
	margin: 4px 2px;
	padding: 4px;
	overflow: auto;
}
div.cake-code-dump span.code-highlight {
	background-color: #FFFF00;
	padding: 4px;
}